$default-font-family: Inconsolata, Consolas, monospace, Helvetica,sans-serif;

$black-background: #080808;
$default-background: #373C38;
$high-light: #B35C37;
$low-light: #7BA23F;


.task-icon {
    color: lightblue;
}

.note-icon {
    color: darkgoldenrod;
}

.reminder-icon {
    color: darkorchid;
}

.high {
	background-color: #F57C95;
	color: black;
}

.intermediate {
	color: black;
	background-color: #F5EC78;
}

.low {
	background-color: #BAF4FF;
	color: black;
}


input,
textarea {
    border-radius: 2px;
    border: solid 1px #e0e0e0;
    background-color: lightgrey;
    padding-left: 10px;
}

@mixin text-max-lines($number) {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
}