@import '../../../resource/base.scss';
.pane {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	font-family: $default-font-family;
	.logo {
		margin-left: 15px;
		margin-top: 15px;
	}
	mat-list-item {
		margin-top: 20px;
		div {
			display: flex;
			flex-direction: column;
			align-content: center;
		}
	}
	mat-divider {
		margin-top: 20px;
	}
}

.opened {
	color: $high-light;
}