<div class="settings-form">
	<mat-form-field class="full-width">
	  <input matInput placeholder="COS Bucket"
	  [(ngModel)]="_cosConfig.Bucket">
	</mat-form-field>
  
	<mat-form-field class="full-width">
		<input matInput placeholder="COS Region"
		[(ngModel)]="_cosConfig.Region">
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="COS SecretId"
		[(ngModel)]="_cosConfig.SecretId">
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="COS SecretKey"
		[(ngModel)]="_cosConfig.SecretKey">
	</mat-form-field>

	<mat-form-field class="full-width">
		<input matInput placeholder="COS folder path"
		[(ngModel)]="_cosConfig.Folder">
	</mat-form-field>
</div>