.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .action-button {
        display: flex;
		justify-content: flex-end;
		.header-notification {
			font-size: 14px;
			display: flex;
			justify-content: flex-start;
			margin-right: 20px;
			span {
				margin: 0 8px;
				cursor: pointer;
			}
		}
		.action-button {
			margin: auto 10px;
		}
    }
}