@import '../../../resource/base.scss';

.header {
    width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	.left-header {
		display: flex;
		justify-content: flex-start;
		align-items: flex-end;
		.menu {
			display: flex;
			flex-direction: column;
		}
		.small {
			font-size: 10px;
			margin: auto 3px;
		}
	}
	
    .right-header {
        display: flex;
		justify-content: flex-end;
		.header-notification {
			font-size: 14px;
			display: flex;
			justify-content: flex-start;
			margin-right: 20px;
			span {
				margin: 0 8px;
				cursor: pointer;
			}
			.alarm-button {
				cursor: pointer;
			}
		}
		.action-button {
			margin: auto 10px;
		}
	}
	
	.alarm-list {
		position: absolute;
		z-index: 1;
		background-color: $black-background;
		top: 64px;
		right: 10px;
		min-width: 300px;
		min-height: 600px;
		border-radius: 2px;
		mat-list-item {
			margin-bottom: 18px;
			.alarm-list-item {
				width: 100%;
				display: flex;
				flex-direction: column;
				&:hover {
					background-color: $default-background;
				}
				div {
					font-size: 12px;
					&:first-child {
						margin-bottom: 2px;
						font-weight: bold;
						font-size: 14px;
						color: wheat;
					}
					
				}
			}
		}
	}
}