<div class="header">
    <div class="left-header">
        <div class="menu">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
				<mat-icon>more_vert</mat-icon>
			</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="onNewTicket()">
					<mat-icon>add</mat-icon>
					<span>New ticket</span>
				</button>
                <button mat-menu-item (click)="onMenuSaveAs()">
					<mat-icon>save</mat-icon>
					<span>Save As</span>
				</button>
                <button mat-menu-item (click)="onMenuRetrieveLocalStorageBackup()">
					<mat-icon>file_upload</mat-icon>
					<span>retrieve localstorage backup</span>
				</button>
                <button mat-menu-item (click)="onMenuSettings()">
					<mat-icon>settings</mat-icon>
					<span>Settings</span>
				</button>
            </mat-menu>
        </div>
        <div>
            <label>Todo List</label>
            <label class='small'>{{service.cosFileVersion}}</label>
            <label class="small">{{service.modifiedAt}}</label>
        </div>
	</div>
	<div class="middle-header" *ngIf="service.getCurrentWorkingOnTicketId()">
		<div>
			<span>Now working on:</span>
			<span>{{getCurrentWorkingOnTicketSummary()}}</span>
		</div>
		<div>
			<button mat-icon-button (click)="stopCurrentWorkingOnTicket()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>
    <div class="right-header">
        <div class='header-notification'>
			<div matBadgePosition="after" matBadgeColor="accent" [matBadge]="this.alarmService.getalarmList().length" class="alarm-button" (click)="isShowAlarmList = !isShowAlarmList"><mat-icon>alarm</mat-icon></div>
            <span matBadgeOverlap="false" [matBadge]="getInboxTicketSize()" (click)="goto('inbox')">Inbox</span>
            <span matBadgePosition="after" matBadgeColor="warn" (click)="goto('today')" [matBadge]="getTodayTicketSize()">Today</span>
        </div>
        <div class="action-button">
            <button mat-icon-button (click)="onNewTicket()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div>
            <input matInput placeholder="Search" [(ngModel)]="query" type="text">
            <button mat-icon-button (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
	</div>
	<div class="alarm-list" *ngIf="isShowAlarmList">
		<mat-list>
			<mat-list-item *ngFor="let item of this.alarmService.getalarmList()" (click)="onAlarmListClicked(item)">
				<div class="alarm-list-item">
					<div>{{item.message}}</div>
					<div>{{item.at | date: 'yyyy-M-d h:mm a'}}</div>
					<div *ngIf="item.type === 'once'">
						Once
					</div>
					<div *ngIf="item.type === 'day'">
						Daily, every {{item.interval}} days, {{item.legs}} round left
					</div>
					<div *ngIf="item.type === 'week'">
						Weekly, every {{item.interval}} {{item.dayOfWeek}}, {{item.legs}} round left
					</div>
					<div *ngIf="item.type === 'monthDay'">
						Monthly day, every {{item.interval}} {{item.weekOfMonth}} {{item.dayOfWeek}}, {{item.legs}} round left
					</div>
					<div *ngIf="item.type === 'monthDate'">
						Monthly date, every {{item.interval}} at {{item.index}} of the monty, {{item.legs}} round left
					</div>
				</div>
			</mat-list-item>
		</mat-list>
	</div>
</div>