<div class="header">
    <div>
        <label>Todo List</label>
	</div>
    <div class="action-button">
		<div class='header-notification'>
			<span matBadgeOverlap="false"
				[matBadge]="getInboxTicketSize()" (click)="goto('inbox')">Inbox</span>
			<span matBadgePosition="after" matBadgeColor="warn"
			(click)="goto('today')" [matBadge]="getTodayTicketSize()">Today</span>
		</div>
        <div>
            <button mat-icon-button (click)="onNewTicket()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div>
            <input matInput placeholder="Search" [(ngModel)]="query">
            <button mat-icon-button (click)="onSearch()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </div>
</div>