<mat-card class="card" [ngClass]="{'high': ticket.priority === 'high', 'intermediate': ticket.priority === 'intermediate', 'low': ticket.priority === 'low'}" [matMenuTriggerFor]="cardActions">
    <mat-card-header>
        <div mat-card-avatar class="card-icon">
            <mat-icon *ngIf="ticket.ticketType === 'reminder'" class="reminder-icon">access_alarms</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'note'" class="note-icon">comment</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'task'" class="task-icon">work</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'event'" class="event-icon">event</mat-icon>
        </div>
        <mat-card-title class="card-title">{{ticket.summary}}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>
            {{ticket.description}}
        </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
    </mat-card-actions>
    <mat-menu #cardActions="matMenu" class="menu-container">
        <button mat-menu-item [matMenuTriggerFor]="moveTo">Move to</button>
        <button mat-menu-item [matMenuTriggerFor]="priority">Piority</button>
        <button mat-menu-item [matMenuTriggerFor]="alarm">Set alarm</button>
        <button mat-menu-item [matMenuTriggerFor]="changeType">Change type</button>
    </mat-menu>

    <mat-menu #priority="matMenu">
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.priority === 'high'}" (click)="handlePriorityChanged('high')">High</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.priority === 'intermediate'}" (click)="handlePriorityChanged('intermediate')">Intermediate</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.priority === 'low'}" (click)="handlePriorityChanged('low')">Low</button>
    </mat-menu>

    <mat-menu #alarm="matMenu">
			<button mat-menu-item (click)="handleTickeAlarmClear()">Clear Alarm</button>
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm && this.ticket.alarm.type === 'once'}"
			(click)="handleTicketAlarmSet('once')">Once</button>
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm && this.ticket.alarm.type === 'day'}"
			(click)="handleTicketAlarmSet('day')">Daily</button>
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm && this.ticket.alarm.type === 'week'}"
			(click)="handleTicketAlarmSet('week')">Weekly</button>
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm
			&& (this.ticket.alarm.type === 'monthDay' || this.ticket.alarm.type === 'monthDate')}"
			[matMenuTriggerFor]="setAlarMonthly">Monthly</button>
    </mat-menu>

	<mat-menu #setAlarMonthly="matMenu">
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm && this.ticket.alarm.type === 'monthDate'}"
			(click)="handleTicketAlarmSet('monthDate')">Monthly Date</button>
		<button mat-menu-item
			[ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'&& this.ticket.alarm && this.ticket.alarm.type === 'monthDay'}"
			(click)="handleTicketAlarmSet('monthDay')">Monthly Day</button>
	</mat-menu>

    <mat-menu #moveTo="matMenu">
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.inPages.includes('today')}" (click)="handleMovetoChanged('today')">Today</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.inPages.includes('week')}" (click)="handleMovetoChanged('week')">This week</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.inPages.includes('month')}" (click)="handleMovetoChanged('month')">This month</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.inPages.includes('future')}" (click)="handleMovetoChanged('future')">Future</button>
    </mat-menu>

    <mat-menu #changeType="matMenu">
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.ticketType === 'task'}" (click)="handleTicketTypeChanged('task')">Task</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.ticketType === 'note'}" (click)="handleTicketTypeChanged('note')">Note</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.ticketType === 'event'}" (click)="handleTicketTypeChanged('event')">Event</button>
        <button mat-menu-item [ngClass]="{'card-checked': this.ticket.ticketType === 'reminder'}" (click)="handleTicketTypeChanged('reminder')">Reminder</button>
    </mat-menu>

</mat-card>