@import '../../../resource/base.scss';
.card {
    width: 200px;
    height: 200px;
    color: black;
    background-image: url("src/assets/img/sticky.png");
    background-size: 240px 260px;
    padding-top: 25px;
    .card-icon {
        width: 24px;
        height: 24px;
    }
    .card-title {
        font-size: 14px;
        font-weight: bold;
        @include text-max-lines(5);
    }
    .card-content {
        @include text-max-lines(5);
        margin: 0 5px;
    }
}

.high {
    background-color: unset;
    background-image: url("src/assets/img/sticky_high.png");
}

.intermediate {
    background-color: unset;
}

.low {
    background-color: unset;
    background-image: url("src/assets/img/sticky_low.png");
}

.note-icon,
.task-icon,
.reminder-icon,
.event-icon {
    color: black;
}

.card-checked {
	border: 5px solid $low-light;
}