<mat-card class="card" [ngClass]="{'high': ticket.priority === 'high', 'medium': ticket.priority === 'medium', 'low': ticket.priority === 'low'}" [matMenuTriggerFor]="cardActions">
    <mat-card-header>
        <div mat-card-avatar class="card-icon">
            <mat-icon *ngIf="ticket.ticketType === 'reminder'" class="reminder-icon">access_alarms</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'note'" class="note-icon">comment</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'task'" class="task-icon">work</mat-icon>
            <mat-icon *ngIf="ticket.ticketType === 'event'" class="event-icon">event</mat-icon>
        </div>
        <mat-card-title class="card-title">{{ticket.summary}}</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content class="card-content">
        <p>
            {{ticket.description}}
        </p>
    </mat-card-content>
    <mat-card-actions class="card-actions">
    </mat-card-actions>
    <mat-menu #cardActions="matMenu" class="menu-container">
        <button mat-menu-item [matMenuTriggerFor]="moveTo">Move to</button>
        <button mat-menu-item [matMenuTriggerFor]="priority">Piority</button>
        <button mat-menu-item [matMenuTriggerFor]="alarm">Set alarm</button>
        <button mat-menu-item [matMenuTriggerFor]="changeType">Change type</button>
    </mat-menu>

    <mat-menu #priority="matMenu">
        <button mat-menu-item (click)="handlePriorityChanged('high')">High</button>
        <button mat-menu-item (click)="handlePriorityChanged('medium')">Medium</button>
        <button mat-menu-item (click)="handlePriorityChanged('low')">Low</button>
    </mat-menu>

    <mat-menu #alarm="matMenu">
        <button mat-menu-item (click)="handleTicketAlarmSet('once')">Once</button>
        <button mat-menu-item (click)="handleTicketAlarmSet('day')">Daily</button>
        <button mat-menu-item (click)="handleTicketAlarmSet('week')">Weekly</button>
        <button mat-menu-item [matMenuTriggerFor]="setAlarMonthly">Monthly</button>
    </mat-menu>

	<mat-menu #setAlarMonthly="matMenu">
		<button mat-menu-item (click)="handleTicketAlarmSet('monthDate')">Monthly Date</button>
		<button mat-menu-item (click)="handleTicketAlarmSet('monthDay')">Monthly Day</button>
	</mat-menu>

    <mat-menu #moveTo="matMenu">
        <button mat-menu-item (click)="handleMovetoChanged('today')">Today</button>
        <button mat-menu-item (click)="handleMovetoChanged('week')">This week</button>
        <button mat-menu-item (click)="handleMovetoChanged('life')">This month</button>
        <button mat-menu-item (click)="handleMovetoChanged('future')">Future</button>
    </mat-menu>

    <mat-menu #changeType="matMenu">
        <button mat-menu-item (click)="handleTicketTypeChanged('task')">Task</button>
        <button mat-menu-item (click)="handleTicketTypeChanged('note')">Note</button>
        <button mat-menu-item (click)="handleTicketTypeChanged('event')">Event</button>
        <button mat-menu-item (click)="handleTicketTypeChanged('reminder')">Reminder</button>
    </mat-menu>

</mat-card>