<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef>
            <span *ngIf="column !== 'ticketType' && column !== 'more'">{{column}}</span>
			<span *ngIf="column === 'ticketType'"></span>
			<span *ngIf="column === 'more'"></span>
        </th>
		<td mat-cell *matCellDef="let element" 
			[ngClass]="{
						'high': element.priority === 'high',
						'low': element.priority === 'low',
						'intermediate': element.priority === 'intermediate'
					}">
            <mat-icon *ngIf="column === 'ticketType' && element.ticketType === 'reminder'" class="reminder-icon">access_alarms</mat-icon>
            <mat-icon *ngIf="column === 'ticketType' && element.ticketType === 'note'" class="note-icon">comment</mat-icon>
			<mat-icon *ngIf="column === 'ticketType' && element.ticketType === 'task'" class="task-icon">work</mat-icon>
			<mat-icon *ngIf="column === 'ticketType' && element.ticketType === 'event'" class="task-icon">event</mat-icon>
            <span *ngIf="column !== 'ticketType' && column !== 'effort' && column !== 'progress'">{{element[column]}}</span>
            <app-star *ngIf="column === 'effort'" [effort]="element[column]"></app-star>
			<app-progress *ngIf="column === 'progress'" [progress]="element.progress"></app-progress>
			<mat-icon *ngIf="column === 'more'" (click)="expandedElement = expandedElement === element ? null : element">expand_more</mat-icon>
			<mat-icon *ngIf="column === 'focused' && !column.isWorkingOn" (click)="handleCurrentWorkingOnSwitch(element.id, false)">play_arrow</mat-icon>
			<mat-icon *ngIf="column === 'focused' && column.isWorkingOn" (click)="handleCurrentWorkingOnSwitch(element.id, true)">stop</mat-icon>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-diagram">
                    <div><b>ID: </b> <label class="expand-text">{{element.id}}</label></div>
                    <div><b>last update: </b><label class="expand-text">{{element.modifiedAt}}</label></div>
                    <div><b>In pages: </b><label class="expand-text">{{element.inPages.join(' ; ')}}</label></div>
                    <div><b>Time cost: </b><label class="expand-text">{{calculateTimeCost(element)}}</label></div>
                </div>
                <div class="example-element-description">
                    <div *ngFor="let record of element.records">
                        <div>{{record}}</div>
                        <span class="example-element-description-attribution"></span>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" [class.example-expanded-row]="expandedElement === element" (dblclick)="openEditSheet(element)">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>