@import '../resource/base.scss';
.app-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-image: url("src/assets/img/Mirage.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    .app-pane {
        min-width: 100px;
        background-image: url("src/assets/img/Royal.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
		transform:rotate(90deg);
    }
    .app-header {
        background-image: url("src/assets/img/Royal.jpg");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
        width: 100%;
        app-header {
            width: 100%;
        }
    }
}