.fan{
	width:0;
	height:0;
	border-radius:100px;
	border-width:18px;
	border-style:solid;
	border-color:yellow transparent transparent transparent;
	line-height:99em;
	overflow:hidden;
	cursor:pointer;
	margin: 30px auto;
	}