<div class='bottom-sheet'>
    <div>
        <label>Summary:</label>
        <textarea matInput placeholder="summary" [(ngModel)]="ticket.summary" rows="4"></textarea>
    </div>
    <div>
        <label>Description</label>
        <textarea matInput placeholder="description" [(ngModel)]="ticket.description" rows="4"></textarea>
    </div>
    <div class='select-1'>
        <div>
            <label>Type:</label>
            <mat-select [(ngModel)]="ticket.ticketType">
                <mat-option *ngFor="let item of _TICKETTYPESELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Belongs to:</label>
            <mat-select [(ngModel)]="ticket.inPages" multiple>
                <mat-option *ngFor="let inPage of _PAGELIST" [value]="inPage">{{inPage}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="select-2">
        <div>
            <label>Priority:</label>
            <mat-select [(ngModel)]="ticket.priority">
                <mat-option *ngFor="let item of _TICKETPRIORITYSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Effort:</label>
            <mat-select [(ngModel)]="ticket.effort">
                <mat-option *ngFor="let item of _TICKETEFFORTSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Progress:</label>
            <mat-select [(ngModel)]="ticket.progress">
                <mat-option *ngFor="let item of _TICKETPROGRESSSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div>
        <label>Records:</label>
        <div *ngFor="let record of ticket.records" class="record">
            <input type="text" matInput [(ngModel)]="record">
        </div>
    </div>
    <div class="bottom-sheet-actions">
        <mat-icon (click)="onAddRecord()">add_circle_outline</mat-icon>
        <mat-icon (click)="onRemoveRecord()">remove_circle_outline</mat-icon>
        <div></div>
        <button mat-flat-button (click)="onCancel()">Cancel</button>
        <button mat-stroked-button color="warn" (click)="onSave()">Save</button>
    </div>
</div>