<div class='bottom-sheet'>
    <div>
        <label>Summary:</label>
        <textarea matInput placeholder="summary" [(ngModel)]="ticket.summary" rows="2"></textarea>
    </div>
    <div>
        <label>Description</label>
        <textarea matInput placeholder="description" [(ngModel)]="ticket.description" rows="3"></textarea>
    </div>
    <div class='select-1'>
        <div>
            <label>Type:</label>
            <mat-select [(ngModel)]="ticket.ticketType">
                <mat-option *ngFor="let item of _TICKETTYPESELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Belongs to:</label>
            <mat-select [(ngModel)]="ticket.inPages" multiple>
                <mat-option *ngFor="let inPage of _PAGELIST" [value]="inPage">{{inPage}}</mat-option>
            </mat-select>
        </div>
    </div>
    <div class="select-2">
        <div>
            <label>Priority:</label>
            <mat-select [(ngModel)]="ticket.priority">
                <mat-option *ngFor="let item of _TICKETPRIORITYSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Effort:</label>
            <mat-select [(ngModel)]="ticket.effort">
                <mat-option *ngFor="let item of _TICKETEFFORTSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
        <div>
            <label>Progress:</label>
            <mat-select [(ngModel)]="ticket.progress" (selectionChange)="handleProgressChanged()">
                <mat-option *ngFor="let item of _TICKETPROGRESSSELECTCONFIG" [value]="item.value">
                    {{item.label}}
                </mat-option>
            </mat-select>
        </div>
    </div>
    <div>
        <label>Records:</label>
        <div class="record">
			<input *ngIf="ticket.records && ticket.records.length > 0" type="text" matInput [(ngModel)]="ticket.records[0]">
			<input *ngIf="ticket.records && ticket.records.length > 1" type="text" matInput [(ngModel)]="ticket.records[1]">
			<input *ngIf="ticket.records && ticket.records.length > 2" type="text" matInput [(ngModel)]="ticket.records[2]">
			<input *ngIf="ticket.records && ticket.records.length > 3" type="text" matInput [(ngModel)]="ticket.records[3]">
			<input *ngIf="ticket.records && ticket.records.length > 4" type="text" matInput [(ngModel)]="ticket.records[4]">
			<input *ngIf="ticket.records && ticket.records.length > 5" type="text" matInput [(ngModel)]="ticket.records[5]">
			<input *ngIf="ticket.records && ticket.records.length > 6" type="text" matInput [(ngModel)]="ticket.records[6]">
			<input *ngIf="ticket.records && ticket.records.length > 7" type="text" matInput [(ngModel)]="ticket.records[7]">
			<input *ngIf="ticket.records && ticket.records.length > 8" type="text" matInput [(ngModel)]="ticket.records[8]">
			<input *ngIf="ticket.records && ticket.records.length > 9" type="text" matInput [(ngModel)]="ticket.records[9]">
		</div>
		
    </div>
    <div class="bottom-sheet-actions">
        <mat-icon (click)="onAddRecord()">add_circle_outline</mat-icon>
        <mat-icon (click)="onRemoveRecord()">remove_circle_outline</mat-icon>
        <div></div>
        <button mat-stroked-button color="warn" (click)="onOk()">Ok</button>
    </div>
</div>