<div class="form-container">
	<label>Create new ticket</label>
	<mat-form-field>
		<input type="text" matInput placeholder="Summary" [(ngModel)]="ticket.summary" rows="3">
	</mat-form-field>
	<mat-form-field>
		<textarea matInput placeholder="Description" [(ngModel)]="ticket.description" rows="3"></textarea>
	</mat-form-field>
	<mat-form-field>
		<mat-select [(ngModel)]="ticket.ticketType" placeholder="Ticket type">
			<mat-option *ngFor="let item of _TICKETTYPESELECTCONFIG" [value]="item.value">
				{{item.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-select [(ngModel)]="ticket.priority" placeholder="Ticket priority">
			<mat-option *ngFor="let item of _TICKETPRIORITYSELECTCONFIG" [value]="item.value">
				{{item.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-select [(ngModel)]="ticket.effort" placeholder="Ticket effort">
			<mat-option *ngFor="let item of _TICKETEFFORTSELECTCONFIG" [value]="item.value">
				{{item.label}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<div class="form-actions">
		<button mat-stroked-button color="white" (click)="onCancel()">Cancel</button>
		<button mat-stroked-button color="warn" (click)="onSave()">Save</button>
	</div>
</div>