/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

@import "tui-calendar/dist/tui-calendar.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.bottom-sheet-custom {
    width: 1500px;
    height: 800px;
    overflow: hidden;
}

.alert-custom {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.snackBar-custom {
    background-color: green;
    color: white;
    position: absolute;
    left: 20px;
    bottom: 10px;
}


label {
	font-family: Arial, Helvetica, sans-serif;
}