<button mat-icon-button (click)="onCalendarPrev()">
	<mat-icon>navigate_before</mat-icon>
</button>
<input type="date" name="date" id="date" (change)="onDateChange($event)">
<button mat-icon-button (click)="onCalendarNext()">
	<mat-icon>navigate_next</mat-icon>
</button>
<button mat-icon-button class="today-button" (click)="onToday()">
	<mat-icon>home</mat-icon>
</button>
<label>{{focusedDateStr}}</label>
<ngx-tui-calendar #calendarBoard
	id="calendar-board"
	[defaultView]="type"
	(dayNameClicked)="onDate($event)"
	(timeClicked)="onTime($event)"
	(scheduleClicked)="onSchedule($event)"
	(beforeCreateSchedule)="onBeforeCreateSchedule($event)"
	[schedules]="schedules"
	(tuiCalendarCreated)="onTuiCalendarCreate($event)">
</ngx-tui-calendar>